<style>
  .inputField2{
    margin-top:10px;
    border-radius:0;
    border:none;
    border-bottom:2px solid #bfbfbf;
    color:#333;
    background:none;
    padding:13px;
    font-size:1.2em;
    font-weight:500;
    width:100%;
    transition: all 0.3s ease;
    text-align:center;
}

input:focus + h4  {
  position: relative;
  top:-70px;
  font-size:1em;
}

.inputField2:focus{
  text-align:left;
}

.inputField2 + h4{
  position:relative;
  top:-37px;
  left:10px;
  display:inline;
  text-align:left;
}
</style>

<%= render '/layouts/nav' %>
        <div class="wrapper">
    <div class="container" style="margin-top:0px;">

<center>

<div class='raised' style="border-radius: 10px;background-color: #fff;padding: 50px;padding-left:50px;padding-right:50px;opacity:0.9;width:60%;">
  <h1>Edit User</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field row" style="margin-top:40px;">
    <h3>Avatar</h3>
    <div class="col-md-6">
      <img width="100%" src="<%= current_user.image.url(:medium) %>" class="raised rounded" style="margin:20px;margin-left:0px;"/>
    </div>
    <div class="col-md-6"><br><br><br>
    <h3>Change your avatar:</h3>
    <%= f.file_field :image, :class => "inputField" %>
    </div>
  </div>
  
  
  <div class="field" style="margin-top:40px;">
    <h3>First Name</h3>
    <%= f.text_field :first_name, autofocus: true, :class => "inputField" %>
  </div>
  
  <div class="field" style="margin-top:40px;">
    <h3>Last Name</h3>
    <%= f.text_field :last_name, autofocus: true, :class => "inputField" %>
  </div>
  
  <div class="field" style="margin-top:40px;">
    <h3>Email</h3>
    <%= f.email_field :email, autofocus: true, :class => "inputField" %>
  </div>
  
  <div class="field" style="margin-top:40px;">
    <h3>Age</h3>
    <%= f.select :age, ['10-15','16-20','21+'], :class => "inputField" %>
  </div>
  
  <div class="field" style="margin-top:40px;">
    <h3>Address</h3>
    <div class="row" style="margin:-15px">
      <div class="col-md-12">
        <%= f.text_field :street, autofocus: true, :class => "inputField" %>
      </div>
    </div>
    <div class="row" style="margin:-15px">
      <div class="col-md-7">
        <%= f.text_field :city, autofocus: true, :class => "inputField" %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :state, autofocus: true, :class => "inputField" %>
      </div>
      <div class="col-md-3">
        <%= f.number_field :zip, autofocus: true, :class => "inputField" %>
      </div>
    </div>
  </div>
  
   <div class="field" style="margin-top:40px;">
    <h3>Phone Number</h3>
    <%= f.telephone_field :phone, autofocus: true, :class => "inputField" %>
  </div>
  
  <div class="field" style="margin-top:40px;">
    <h3>How did you hear of us? (Name of referral, if possible)</h3>
    <%= f.text_field :referral, :class => "inputField" %>
  </div>
  
  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field" style="margin-top:40px;">
    <h3>Change Password</h3><i> (leave blank if you don't want to change it)</i></h3>
    <%= f.password_field :password, autocomplete: "off", :class => "inputField" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field" style="margin-top:40px;">
    <h3>Confirm New Password</h3>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "inputField" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "btn-primary btn-lg", :style=>"margin-top:40px" %>
  </div>
<% end %>
</div>

</center>
<p style="display:none">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :style=>"display:none" %></p>

    


    </div>
</div>


<script>
  $('.card_input').on('keyup', function() {
  var foo = $(this).val().split(" ").join(""); 
  if (foo.length > 0) {
    foo = foo.match(new RegExp('.{1,4}', 'g')).join(" ");
  }
  $(this).val(foo);
});
</script>