<style>
    .btn > a{
        color:white;
    }
    
    .btn{
        margin-top:10px;
    }
    
    .glyphicon{
        top:2px;
    }
    
    .btn a{
        display:inline;
    }
    
    .countem{
        padding:6px;
        padding-left:10px;
        padding-right:10px;
        border-radius:20px;
        background:white;
        color:#f55a58;
        margin-left:10px;
    }
    
</style>

<% if (current_user.id != 1) then %>
    
    <h1>You're not allowed in here!</h1>
    
<% else %>


        <%= render '/layouts/nav' %>
        <div class="wrapper">
    <div class="container-fluid" style="margin-top:30px;margin-bottom:100px;">
        <div class='row'>
    <div class="col-md-12" style="margin:20px;margin-left:0">
        <center>
                <a href="#" data-toggle="tab" onclick="changeMainViews('users')" class="btn-lg btn-primary" style="color:white;margin:10px;">USERS</a>
                <a href="#" data-toggle="tab" onclick="changeMainViews('lessons')" class="btn-lg btn-primary" style="color:white;margin:10px;">LESSONS</a>
                <a href="#" data-toggle="tab" onclick="changeMainViews('promos')" class="btn-lg btn-primary" style="color:white;margin:10px;">PROMOS</a>
        </center>
    </div>
    </div>
    
    
    
    <div id ="lessons_base" style="display:none;">
<center><button class="btn-lg btn-primary" onclick="if (document.getElementById('addLesson').style.display=='block') { document.getElementById('addLesson').style.display='none' } else {document.getElementById('addLesson').style.display='block'}" style="margin-top:60px;">Add Lesson</button></center>
<div class="row" id="addLesson" style="display:none">
  <div class="col-md-2"></div>
  <div class="col-md-8 raised" style="border-radius: 10px;background-color: #fff;padding: 0px;padding-left:20px;padding-right:20px;opacity:1;">
    <%= form_for @newLesson do |f| %>
            <h4>Title</h4>
            <%= f.text_field :title, autofocus: true, :class => "inputField" %>
            <h4>Description</h4>
            <%= f.text_area :description, autofocus: true, :class => "inputField", :style => "resize:none;height:200px;" %>
            <h4>YouTube Video ID</h4>
            <%= f.text_field :video, autofocus: true, :class => "inputField" %>
            <h4>Lesson Order</h4>
            <%= f.text_field :order, autofocus: true, :class => "inputField" %>
            
            <div class="actions">
    <%= f.submit "Add Lesson", :class => "btn-lg btn-primary", :style => "width:100%;margin-top:20px;margin-bottom:20px;" %>
  </div>
            
        <% end %>
        
        </div>
<div class="col-md-2"></div>
</div>



<center>

<h1 style="max-width:300px;border-radius:10px;color:white;background-color:rgb(245, 88, 88);padding:10px;margin-top:50px;margin-bottom:30px;font-size:2em;letter-spacing:1px;">LESSONS</h1>
</center>

<% for @lesson in @lessons %>
    <a href="/lesson/<%= @lesson.id %>">
        <div class="panel panel-default">
        <div class="row">
            <div class="col-sm-2">
                <img style="height:90px;width:100%;border-radius:10px;background-color:#e5e5e5" src="<%= @lesson.cover %>" />
            </div>
            <div class="col-sm-2">
                <center>
                <ptag style="line-height:5">Lesson <%= @lesson.order %></ptag></center>
            </div>
            <div class="col-sm-5">
                <center><h2 style='line-height:1.5;'><%= @lesson.title %></h2></center>
            </div>
            <div class="col-sm-3">
              <%= link_to "", {:controller=>:lessons,:action=>:destroy, :id=>@lesson}, :method=>:delete, :class =>"glyphicon glyphicon-trash btn btn-primary", :style => "color:white;margin:20px;margin-right:0;border-radius: 50%;width: 50px;height: 50px;padding: 10px;line-height: 2;" %>
              <%= link_to "", edit_lesson_path(@lesson), :class =>"glyphicon glyphicon-edit btn btn-primary", :style => "color:white;margin:20px;border-radius: 50%;width: 50px;height: 50px;padding: 10px;line-height: 2;" %>
            </div>
        </div>
    </div>
    
    </a>
<% end %>

</div>







    <div id ="promos_base" class="container" style="display:none;">
<center><button class="btn-lg btn-primary" onclick="if (document.getElementById('addPromo').style.display=='block') { document.getElementById('addPromo').style.display='none' } else {document.getElementById('addPromo').style.display='block'}" style="margin-top:60px;">Add New Code</button></center>
<div class="row" id="addPromo" style="display:none">
  <div class="col-md-2"></div>
  <div class="col-md-8 raised" style="border-radius: 10px;background-color: #fff;padding: 0px;padding-left:20px;padding-right:20px;opacity:1;">
    <%= form_for @newPromo do |f| %>
            <h4>Promo Code (Plan ID on Stripe)</h4>
            <%= f.text_field :code, autofocus: true, :class => "inputField" %>
            <h4>Maximum Number of Uses</h4>
            <%= f.telephone_field :maximum, autofocus: true, :class => "inputField" %>
            
            <div class="actions">
    <%= f.submit "Add Promo Code", :class => "btn-lg btn-primary", :style => "width:100%;margin-top:20px;margin-bottom:20px;" %>
  </div>
            
        <% end %>
        
        </div>
<div class="col-md-2"></div>
</div>



<center>

<h1 style="max-width:300px;border-radius:10px;color:white;background-color:rgb(245, 88, 88);padding:10px;margin-top:50px;margin-bottom:30px;font-size:2em;letter-spacing:1px;">PROMO CODES</h1>
</center>

<% for @lesson in Promo.all %>
    <a href="/promos/<%= @lesson.id %>/edit">
        <div class="panel panel-default raised" style="padding:0;overflow:hidden;">
        <div class="row" style="background:none;margin:0;height:90px;">
            <div class="col-sm-4">
                <center>
                    <h2 style="
                    color:  #f55a58;text-align:left;
                    margin-top: 29px;
                    margin-left: 30px;
                "><%= @lesson.code %></h2>
                </center>
                
            </div>
            <div class="col-sm-5">
                <center>
                    <% if @lesson.maximum == 0 then %>
                        <qtag style="border-radius:30px;top:0;background-color:#eaeaea;padding:10px;top:32px;padding-left:20px;padding-right:20px;color:#f55a58;z-index:999">No Maximum</qtag>
                    <% else %>
                        <qtag style="border-radius:30px;top:0;background-color:#eaeaea;padding:10px;top:32px;padding-left:20px;padding-right:20px;color:#f55a58;z-index:999"><%= @lesson.used %> / <%= @lesson.maximum %></qtag>
                    <% end %>
                </center>
                    
            </div>
            <div class="col-sm-3">
              <%= link_to "", {:controller=>:promos,:action=>:destroy, :id=>@lesson}, :method=>:delete, :class =>"glyphicon glyphicon-trash btn btn-primary", :style => "color:#f55a58;margin:20px;margin-right:0;border-radius: 50%;width: 50px;height: 50px;padding: 10px;line-height: 2;background-color:whitesmoke;position:relative;z-index:999;" %>
              <%= link_to "", edit_promo_path(@lesson), :class =>"glyphicon glyphicon-edit btn btn-primary", :style => "color:#f55a58;margin:20px;border-radius: 50%;width: 50px;height: 50px;padding: 10px;line-height: 2;background-color:whitesmoke;position:relative;z-index:999;" %>
            </div>
            
            <% if @lesson.maximum == 0 then %>
            <div style="height:91px;left:0;width:100%;background-color:#f55a58;position:relative;">
                <div style="width:100%;height:100%;overflow:hidden;width:100%;height:100%;overflow:hidden;top: -81px;position:  relative;">
                    <h2 style="
                    color:  white;text-align:left;
                    left: 154px;
                    position:relative;
                
                "><%= @lesson.code %></h2>
                </div>
            <% elsif @lesson.used == 0 then %>
                
                <div style="height:91px;left:0;width:0%;background-color:#f55a58;position:relative;">
                
                
            <% else %>
            
            <div style="height:91px;left:0;width:<%= ((@lesson.used.to_f/@lesson.maximum.to_f)*100).round %>%;background-color:#f55a58;position:relative;">
                <div style="width:100%;height:100%;overflow:hidden;width:100%;height:100%;overflow:hidden;top: -81px;position:  relative;">
                    <h2 style="
                    color:  white;
                    left: 143px;
                    position:relative;
                
                "><%= @lesson.code %></h2>
                </div>
                
            <% end %>
            </div>
        </div>
    </div>
    
    </a>
<% end %>

</div>










<div id="users_base">
    <center>
<h1 style="max-width:300px;border-radius:10px;color:white;background-color:rgb(245, 88, 88);padding:10px;margin-top:50px;margin-bottom:30px;font-size:2em;letter-spacing:1px;">USERS</h1>

<% if @poor %>
    <div class="row" style="margin:40px;">
        <div class="col-md-2"></div>
        <div class="col-md-8 halfraised" style="background-color:white;padding:20px;padding-left:60px;padding-right:60px;">
            <h3>The following user has not received their two-week email, but their account is <%= (Date.today - Time.at(@poor.created_at).to_date).to_i %> days old.</h3>
            <div class="row" style="margin:40px;">
                <div class="col-md-12">
                    <img height="100px" width="auto" src="<%= @poor.image.url(:medium) %>" class="raised rounded" />
                    <h3 style="font-size:2em"><%= @poor.first_name %>&nbsp;<%= @poor.last_name %></h3>
                    <h3><%= @poor.email %></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;<%= link_to "Send Email", :controller => "pages", :action => "send_two_week" %></button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;<a href="/user/<%= @poor.id %>" target="_blank" >View User</a></button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<%= link_to "Forget Email", :controller => "pages", :action => "forget_two_week" %></button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
<% end %>

</center>

<div class="row halfraised" style="background-color:white;margin:40px;padding:20px">
    <div class="col-md-12" style="margin:20px">
        <center>
            <a href="#" data-toggle="tab" onclick="changeViews('shortTerm')" class="btn btn-primary" style="color:white;margin:10px;">LESS THAN 6 MONTHS&nbsp;<span class="countem"><%= @short_users.count %></span></a>
            <a href="#" data-toggle="tab" onclick="changeViews('midTerm')" class="btn btn-primary" style="color:white;margin:10px;">BETWEEN 6 & 7 MONTHS&nbsp;<span class="countem"><%= @midTerm_users.count %></span></a>
            <a href="#" data-toggle="tab" onclick="changeViews('longTerm')" class="btn btn-primary" style="color:white;margin:10px;">MORE THAN 6 MONTHS&nbsp;<span class="countem"><%= @long_users.count %></span></a>
            <a href="#" data-toggle="tab" onclick="changeViews('completed')" class="btn btn-primary" style="color:white;margin:10px;">COMPLETED&nbsp;<span class="countem"><%= @completed_users.count %></span></a>
            <a href="#" data-toggle="tab" onclick="changeViews('banned')" class="btn btn-primary" style="color:white;margin:10px;">BANNED&nbsp;<span class="countem"><%= @banned_users.count %></span></a>
            <a href="#" data-toggle="tab" onclick="changeViews('inactive')" class="btn btn-primary" style="color:white;margin:10px;">INACTIVE&nbsp;<span class="countem"><%= @inactive_users.count %></span></a>
        </center>
    </div>
    <div class="col-md-12" style="padding-bottom:20px;border-bottom:2px solid">
        <div class="col-md-3">
            <h3 style="text-align:center">Name</h3>
        </div>
        <div class="col-md-2">
            <h3 style="text-align:center">&nbsp;&nbsp;&nbsp;Account Age</h3>
        </div>
        <div class="col-md-2">
            <h3 style="text-align:center">&nbsp;&nbsp;Last Login</h3>
        </div>
        <div class="col-md-5">
            <h3 style="text-align:center">Card Info</h3>
        </div>
    </div>
    <div class="col-md-12" id="short_term">
        <% for @u in @short_users %>
            <a href="/user/<%= @u.id %>" style="color:black" target="_blank" >
                <%= render '/layouts/user' %>
            </a>
        <% end %>
    </div>
    <div class="col-md-12" id="long_term" style="display:none">
        <% if @long_users.length == 0 %>
            <center><h2 style="margin:50px;">No users to display!</h2></center>
        <% end %>
        <% for @u in @long_users %>
            <a href="/user/<%= @u.id %>" style="color:black" target="_blank" >
                <%= render '/layouts/user' %>
            </a>
        <% end %>
    </div>
    <div class="col-md-12" id="completed" style="display:none">
        <% if @completed_users.length == 0 %>
            <center><h2 style="margin:50px;">No users to display!</h2></center>
        <% end %>
        <% for @u in @completed_users %>
            <a href="/user/<%= @u.id %>" style="color:black" target="_blank" >
                <%= render '/layouts/user' %>
            </a>
        <% end %>
    </div>
    <div class="col-md-12" id="banned" style="display:none">
        <% if @banned_users.length == 0 %>
            <center><h2 style="margin:50px;">No users to display!</h2></center>
        <% end %>
        <% for @u in @banned_users %>
            <a href="/user/<%= @u.id %>" style="color:black" target="_blank" >
                <%= render '/layouts/user' %>
            </a>
        <% end %>
    </div>
    <div class="col-md-12" id="midTerm" style="display:none">
        <% if @midTerm_users.length == 0 %>
            <center><h2 style="margin:50px;">No users to display!</h2></center>
        <% end %>
        <% for @u in @midTerm_users %>
            <a href="/user/<%= @u.id %>" style="color:black" target="_blank" >
                
                
<div class="row" style="padding:20px;border-bottom: 1px solid #e8e8e8">
                <div class="col-md-3" style="margin:0;">
                    <h3 style="text-transform:capitalize"><%= @u.first_name %>&nbsp;<%= @u.last_name %></h3>
                </div>
                <div class="col-md-2" style="margin:0;">
                    <% @bes1t = distance_of_time_in_words(Time.now, (@u.created_at.to_time)) %>
                    <% @bes1t.slice!("about ") %>
                    <h4 style="text-align:center;line-height:48px;"><%= @bes1t %></h4>
                </div>
                <div class="col-md-2" style="margin:0;">
                    <% @best = (time_ago_in_words(@u.updated_at)) %>
                    <% @best.slice!("about ") %>
                    <h4 style="text-align:center;line-height:48px;"><%= @best %> ago</h4>
                </div>
                <div class="col-md-5" style="margin:0;">
                    <center><%= link_to "UPDATE PAYMENT", { :controller => :subscribers, :action => :changePlan, :user => @u.id}, :style => "position:relative; top:20px;", :class => "btn-lg btn-primary" %></center>
                </div>
            </div>
                
            </a>
        <% end %>
    </div>
    <div class="col-md-12" id="inactive" style="display:none">
        <% if @inactive_users.length == 0 %>
            <center><h2 style="margin:50px;">No users to display!</h2></center>
        <% end %>
        <% for @u in @inactive_users %>
            <a href="/user/<%= @u.id %>" style="color:black" target="_blank" >
                <%= render '/layouts/user' %>
            </a>
        <% end %>
    </div>
</div>

</div>
    </div>
</div>




<% end %>


<script>
    document.title="Admin | 10/40 Entrepreneurship Academy"
    
    function changeViews(view){
        if (view == "shortTerm"){
            document.getElementById('short_term').style.display = "block";
            document.getElementById('long_term').style.display = "none";
            document.getElementById('completed').style.display = "none";
            document.getElementById('banned').style.display = "none";
            document.getElementById('midTerm').style.display = "none";
            document.getElementById('inactive').style.display = "none";
        } else if (view == "longTerm"){
            document.getElementById('short_term').style.display = "none";
            document.getElementById('long_term').style.display = "block";
            document.getElementById('completed').style.display = "none";
            document.getElementById('banned').style.display = "none";
            document.getElementById('midTerm').style.display = "none";
            document.getElementById('inactive').style.display = "none";
        } else if (view == "completed"){
            document.getElementById('short_term').style.display = "none";
            document.getElementById('long_term').style.display = "none";
            document.getElementById('completed').style.display = "block";
            document.getElementById('banned').style.display = "none";
            document.getElementById('midTerm').style.display = "none";
            document.getElementById('inactive').style.display = "none";
        } else if (view == "midTerm") {
            document.getElementById('short_term').style.display = "none";
            document.getElementById('long_term').style.display = "none";
            document.getElementById('completed').style.display = "none";
            document.getElementById('banned').style.display = "none";
            document.getElementById('midTerm').style.display = "block";
            document.getElementById('inactive').style.display = "none";
        } else if (view == "inactive") {
            document.getElementById('short_term').style.display = "none";
            document.getElementById('long_term').style.display = "none";
            document.getElementById('completed').style.display = "none";
            document.getElementById('banned').style.display = "none";
            document.getElementById('midTerm').style.display = "none";
            document.getElementById('inactive').style.display = "block";
            
        } else {
            document.getElementById('short_term').style.display = "none";
            document.getElementById('long_term').style.display = "none";
            document.getElementById('completed').style.display = "none";
            document.getElementById('banned').style.display = "block";
            document.getElementById('midTerm').style.display = "none";
            document.getElementById('inactive').style.display = "none";
        }
    }
    
    function changeMainViews(view){
        if (view == "users"){
            document.getElementById('users_base').style.display = "block";
            document.getElementById('lessons_base').style.display = "none";
            document.getElementById('promos_base').style.display = "none";
        } else if (view == "lessons") {
            document.getElementById('users_base').style.display = "none";
            document.getElementById('lessons_base').style.display = "block";
            document.getElementById('promos_base').style.display = "none";
        } else {
            document.getElementById('users_base').style.display = "none";
            document.getElementById('lessons_base').style.display = "none";
            document.getElementById('promos_base').style.display = "block";
        }
    }
</script>