<style>
    
  
.inputField2{
    margin-top:10px;
    border-radius:0;
    border:none;
    border-bottom:2px solid #bfbfbf;
    color:#333;
    background:none;
    padding:13px;
    font-size:1.2em;
    font-weight:500;
    width:100%;
    transition: all 0.3s ease;
    text-align:center;
}

input:focus + h4  {
  position: relative;
  top:-70px;
  font-size:1em;
}

.inputField2:focus{
  text-align:left;
}

.inputField2 + h4{
  position:relative;
  top:-37px;
  left:10px;
  display:inline;
  text-align:left;
}

a{
    color:white;
}

a:hover{
    color:white;
}
</style>  



<%= render '/layouts/nav' %>
        <div class="wrapper">
            <div class="container" style="margin-top:30px;">
                <div>
                    <% if current_user.stripeid == nil %>
                        <center>
                            <h1>Beta testers do not use any payment!</h1>
                        </center>
                    <% else %>
                    <center>
                        <h2>Important Information!</h2>
                    <h4>It has been over 6 months since your account was created, meaning that you can choose to close your account and cancel any future payments at this time.</h4>
                    <a class="btn btn-primary" href="/user/terminate/gateway">I want to close my account</a>
                    </center>
                    
                    <center><h4 style="margin-top:30px;margin-bottom:50px;">Your information is only accessed securely. We will never give this to anyone.</h4></center>
                    
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="margin-top:50px;background-color:#d6d6d6;border-radius:10px;padding-bottom:20px">
                            <div class="row">
                                <div class="row" style="margin-top:15px">
                                    <div class="col-xs-6">
                                            <img src="/<%= Stripe::Customer.retrieve(current_user.stripeid).sources['data'][0].brand %>.png" style="max-height:70px;height:100%;width:auto" />
                                </div>
                                <div class="col-xs-6">
                                </div>
                                </div>
                                <div class="col-md-12" style="margin-top:15px;margin-bottom:25px;">
                                    <center>
                                        <h2>•••• •••• •••• <%= Stripe::Customer.retrieve(current_user.stripeid).sources['data'][0].last4 %></h2>
                                    </center>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                    <h2 style="font-size:24px;text-transform:uppercase"><%= current_user.first_name %> <%= current_user.last_name %></h2>
                                </div>
                                <div class="col-xs-6">
                                    <h2 style="font-size:24px;text-align:right"><%= 
                                    if Stripe::Customer.retrieve(current_user.stripeid).sources['data'][0].exp_month < 10
                                        str='0'
                                        str + (Stripe::Customer.retrieve(current_user.stripeid).sources['data'][0].exp_month).to_s
                                    else
                                        Stripe::Customer.retrieve(current_user.stripeid).sources['data'][0].exp_month
                                    end
                                    %>&nbsp;/&nbsp;<%= Stripe::Customer.retrieve(current_user.stripeid).sources['data'][0].exp_year %></h2>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    
                    <%= form_tag subscriber_path(1), method: :put, :id => "yolo" do %>

<script src='https://checkout.stripe.com/checkout.js' class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-image="/512_Badge.png"
    data-email="<%= current_user.email %>"
    data-name="<%= current_user.first_name %> <%= current_user.last_name %>"
  data-allow-remember-me=false
  data-locale="auto"
    data-panel-label="Update Card Details">
</script>

    <center>
        <button type="submit" class="btn-primary" style="border:0;padding:15px;padding-left:30px;padding-right:30px;font-size:20px;border-radius:5px;margin-top:15px;">UPDATE CARD</button>
</center>

<% end %>
                    
                    
                    <% end %>
                </div>
            </div>
        </div>
        
        
        
        <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
        
        setTimeout(function(){ document.getElementsByClassName("stripe-button-el")[0].style.display = 'none'; }, 7000);
    </script>