<style>
    .navbar{
        margin-bottom:0;
    }
    
    a{
        color:white;
    }
    
    .btn{
        margin:20px;
    }
    
    
    .inputField2{
    margin-top:10px;
    border-radius:0;
    border:none;
    border-bottom:2px solid #bfbfbf;
    color:#333;
    background:none;
    padding:13px;
    font-size:1.2em;
    font-weight:500;
    width:100%;
    transition: all 0.3s ease;
    text-align:center;
}

input:focus + h4  {
  position: relative;
  top:-70px;
  font-size:1em;
}

.inputField2:focus{
  text-align:left;
}

.inputField2 + h4{
  position:relative;
  top:-37px;
  left:10px;
  display:inline;
  text-align:left;
}

.glyphicon-lock{
  top:2px;
}

.glyphicon-envelope{
  top:2px;
}

.glyphicon-bullhorn{
  top:2px;
}

.glyphicon-credit-card{
  top:3px;
}

.card_input{
  text-align:right;
}
</style>

<% if (current_user.id != 1) then %>
    
    <h1>You're not allowed in here!</h1>
    

<% else %>
  <%= render '/layouts/nav' %>
    
    
    
    
       
       
       <div id="map" style="width:100%;height:300px;"></div>
    <script>
    


      function initMap() {
          var address = "<%= @user.street %>, <%= @user.city %>, <%= @user.state %> <%= @user.zip %>";
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode( { 'address': address}, function(results, status) {
  var location = results[0].geometry.location;
        var uluru = {lat: location.lat(), lng: location.lng()};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        
});
      }
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSBLy1SnCbXbZdill2bCZO8GgoCKnw4Q8&callback=initMap">
    </script>
    
    <div class="wrapper">
        <div class="container" style="margin-top:30px;margin-bottom:100px;">
            <center>
                    <% if (@user.banhammer == "true" || @user.banhammer == true) %>
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;<%= link_to "Lift the Banhammer", :controller => "pages", :action => "lift_banhammer", :id => "#{@user.id}" %></button>
                    <% else %>
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<%= link_to "Bring Down the Banhammer", :controller => "pages", :action => "enact_banhammer", :id => "#{@user.id}" %></button>
                    <% end %>
            </center>
                <div style="background-color:#fff;padding:30px;border-radius:5px;" class="row">
                    <center>
                    <% if @user.completed %>
                        <% if (@user.completed == "true" || @user.completed == true) %>
                    <div class="gtag" style="margin:30px"><h3 style="color:white;font-size:22px;line-height:2.5"><span class="glyphicon glyphicon-ok"></span></h3></div>
                    <% end %>
                    <% end %>
                    <% if @user.banhammer %>
                        <% if (@user.banhammer == "true" || @user.banhammer == true) %>
                    <div class="gtag" style="margin:30px;background-color:#f55a58"><h3 style="color:white;font-size:22px;line-height:2.5">🔨</h3></div>
                    <% end %>
                    <% end %>
                    
                <div class="row">
                    <div class="col-md-6">
                        <img src="<%= @user.image.url(:medium) %>" class="raised rounded" style="width:150px;margin:20px;height:auto;" />
                        <h2><%= @user.first_name %>&nbsp;<%= @user.last_name %>&nbsp;&nbsp;(<%= @user.age %>)</h2>
                        <h3><%= @user.email %></h3>
                         <h3 style="margin-bottom:20px"><%= @user.phone %></h3>
                        <div style="display:none">
                            <h4><%= @user.street %></h4>
                        <h4><%= @user.city %>,&nbsp;<span style="text-transform: uppercase"><%= @user.state %></span>&nbsp;&nbsp;<%= @user.zip %></h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="margin:20px;">
                    <qtag style="background:#f55858;position:relative;left:6px;">Grade</qtag>
                    
                            <h1 style="background:#f55858;width:101px;-webkit-background-clip: text;-webkit-text-fill-color: transparent;"><%= @user.score %>%</h1>
                        <div style="height:8px;width:100%;background-color:#eaeaea;border-radius:4px;overflow:hidden;margin-bottom:50px;">
                            <div style="background:#f55858;width:<%= @user.score %>%;height:100%;float:left;border-radius:4px;">
                    
                            </div>
                        </div>
                    <qtag style="background:#6d6d6d;left:6px;margin-top:50px;">Progress</qtag>
                    
                    <% if @user.progress.to_f > 0 then %>
                        <h1 style="background:#6d6d6d;width:101px;-webkit-background-clip: text;-webkit-text-fill-color: transparent;"><%= ((@user.progress.to_f / Lesson.all.count.to_f)*100).round %>%</h1>
                        <div style="height:8px;width:100%;background-color:#eaeaea;border-radius:4px;overflow:hidden;">
                            <div style="background:#bfbfbf;width:<%= ((@user.progress.to_f / Lesson.all.count.to_f)*100) %>%;height:100%;float:left;border-radius:4px;">
                    
                            </div>
                        </div>
                    <% else %>
                        <h1 style="background:#6d6d6d;width:101px;-webkit-background-clip: text;-webkit-text-fill-color: transparent;">0%</h1>
                        <div style="height:8px;width:100%;background-color:#eaeaea;border-radius:4px;overflow:hidden;">
                            <div style="background:#bfbfbf;width:0%;height:100%;float:left;border-radius:4px;">
                    
                            </div>
                        </div>
                    <% end %>
                        </div>
                    </div>
                </div>
                        
                       
                        <% if @user.referral != "" %>
                            <h2>Referred by: <%= @user.referral %></h2>
                        <% end %>
                        
                        
                    <% if @user.enrolled %>
                        <% if (@user.enrolled == "true" || @user.enrolled == true) %>
                    <div class="gtag" style="margin:50px;margin-bottom:20px"><h3 style="color:white;font-size:22px;line-height:2.5"><span class="glyphicon glyphicon-repeat"></span></h3></div>
                    <% end %>
                    <% end %>
                    <% if @user.enrolled %>
                        <% if (@user.enrolled == "false" || @user.enrolled == false) %>
                    <div class="gtag" style="margin:50px;margin-bottom:20px;background-color:#f55a58"><h3 style="color:white;font-size:22px;line-height:2.5"><span class="glyphicon glyphicon-repeat"></span></h3></div>
                    <% end %>
                    <% end %>
                        
                        <% if @user.stripeid != nil %>
                        <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="margin-top:20px;background-color:#d6d6d6;border-radius:10px;padding-bottom:20px;margin-bottom:20px">
                            <div class="row">
                                <div class="row" style="margin-top:15px">
                                    <div class="col-xs-6">
                                </div>
                                <div class="col-xs-6">
                                </div>
                                </div>
                                <div class="col-md-12" style="margin-top:15px;margin-bottom:25px;">
                                    <center>
                                        <h2>•••• •••• •••• <%= Stripe::Customer.retrieve(@user.stripeid).sources['data'][0].last4 %></h2>
                                    </center>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="/<%= Stripe::Customer.retrieve(@user.stripeid).sources['data'][0].brand %>.png" style="max-height:70px;height:100%;width:auto;margin-left:-100px" />
                                </div>
                                <div class="col-xs-6">
                                    <h2 style="font-size:24px;text-align:right"><%= Stripe::Customer.retrieve(@user.stripeid).sources['data'][0].exp_month %>&nbsp;/&nbsp;<%= Stripe::Customer.retrieve(@user.stripeid).sources['data'][0].exp_year %></h2>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <center>
                        <% if @user.promo != "" %>
                            <h2>Promo Code: <b><%= @user.promo %></b></h2>
                        <% end %>
                    </center>
                    <% end %>
                    
                    </center>
                </div>
        </div>
    </div>



<% end %>

<script>
    $('.card_input').on('keyup', function() {
  var foo = $(this).val().split(" ").join(""); 
  if (foo.length > 0) {
    foo = foo.match(new RegExp('.{1,4}', 'g')).join(" ");
  }
  $(this).val(foo);
});

function isNumber(event) {
  
  var inp = document.getElementById("card_input").value;
                                        
  if (inp.substring(0,1) == "4") {
    document.getElementById('hot_img').src="/visa.png";
  } else if (inp.substring(0,2) == "34" || inp.substring(0,2) == "37") {
    document.getElementById('hot_img').src="/amex.png";
  } else if (inp.substring(0,4) == "6011" || inp.substring(0,2) == "65") {
    document.getElementById('hot_img').src="/discover.png";
  } else {
    document.getElementById('hot_img').src="/mastercard.png";
  }
                                        
                                        
  if (event) {
    var charCode = (event.which) ? event.which : event.keyCode;
    if (charCode != 190 && charCode > 31 && 
       (charCode < 48 || charCode > 57) && 
       (charCode < 96 || charCode > 105) && 
       (charCode < 37 || charCode > 40) && 
        charCode != 110 && charCode != 8 && charCode != 46 )
       return false;
  }
  return true;
}
</script>