<%= form_tag subscriber_path(1), method: :put, :id => "yolo" do %>

<script src='https://checkout.stripe.com/checkout.js' class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-image="/512_Badge.png"
    data-email="<%= current_user.email %>"
    data-name="<%= current_user.first_name %> <%= current_user.last_name %>"
  data-allow-remember-me=false
  data-locale="auto"
    data-panel-label="Update Card Details">
</script>
<script>
    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
</script>
    <center>
        <button type="submit" class="btn-primary" style="border:0;padding:15px;padding-left:30px;padding-right:30px;font-size:20px;border-radius:5px;margin-top:35px;">UPDATE CARD</button>
</center>

<% end %>