<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>10/40 Entrepreneurship Academy</title>
  <link rel=icon href="/512_Badge.png"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#f7f7f7;">
  
  <style>
  
  #notice_wrapper{
    position:absolute;
    top:0;
    width:100%;
    z-index:2000;
    background:rgba(173, 173, 173, 0.85);
  }
  
  #notice_wrapper > p{
    padding:2.5rem;
    text-align:center;
    margin:0;
    font-size:1.5rem;
    font-weight:700;
    color:white;
    letter-spacing:1px;
  }
  
  #alert_wrapper{
    position:absolute;
    top:0;
    width:100%;
    z-index:2000;
    background:rgba(228, 72, 72, 0.85);
  }
  
  #alert_wrapper > p{
    padding:2.5rem;
    text-align:center;
    margin:0;
    font-size:1.5rem;
    font-weight:700;
    color:white;
    letter-spacing:1px;
  }
  
  .cover:before{
        content:"";
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-image:-webkit-linear-gradient(#b3b3b3 12%,#775858);
        background-image:linear-gradient(#b3b3b3 12%,#775858);
        opacity:0.8;
        height:200%;
    }
    
    .cover{
        background-position: center center;
        backface-visibility:hidden;
        background-repeat: no-repeat;
        background: url(../Man_iPhone_Desk.jpg) no-repeat center center;
        -webkit-background-size:cover;
        background-size:cover;
    }
  
  </style>
  
  <% if notice %>
    <div id="notice_wrapper">
      <p class="notice"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;<%= notice %></p>
    </div>
  <% elsif alert %>
    <div id="alert_wrapper">
      <p class="alert"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;<%= alert %></p>
    </div>
  <% end %>

<% if (request.original_fullpath != "/") and (request.original_fullpath != "/users/sign_up") and (request.original_fullpath != "/users/sign_in") and (request.original_fullpath != "/users/password/new") and (request.original_fullpath != "/users/password") and (request.original_fullpath != "/faq") and (request.original_fullpath != "/terms") and (request.original_fullpath != "/privacy") and (request.original_fullpath != "/secure/enroll") and (request.original_fullpath != "/secure/signin") then  %>
  <% if !current_user %>
    <script>
      window.location = "/"
    </script>
  <% end %>
  
  <% if current_user %>
    <% if (current_user.subscribed == nil) and (request.original_fullpath != "/secure/payment") and (current_user.created_at > Date.parse('2018-01-24')) then %>
      <script>
        window.location = "/secure/payment"
      </script>
    <% end %>
    <% if (current_user.enrolled == false) && (request.original_fullpath != "/overview") && (current_user.created_at > Date.parse('2018-01-24')) then %>
      <script>
        window.location = "/overview"
      </script>
    <% end %>
  <% end %>
  
  <% else %>
  
  <% if current_user %>
    <% if (current_user.subscribed == nil) and (request.original_fullpath != "/secure/payment") %>
      <script>
        window.location = "/secure/payment"
      </script>
      <% else %>
      <script>
        window.location = "/home"
      </script>
    <% end %>
    <% if (current_user.enrolled == false) and (request.original_fullpath != "/overview") and (current_user.created_at > Date.parse('2018-01-24')) %>
      <script>
        window.location = "/overview"
      </script>
    <% end %>
  <% end %>
  
  
<% end %>

<!-- <div class="cover" style="background-color:#cacaca; width:100%;height:100%;z-index:2000;position:fixed">
  <div class="row" style="margin-top:100px;padding-left:200px;padding-right:200px;">
    <div class="col-md-12">
      <img src="/512_Background.png" style="height:150px;width:auto;display:block;margin:0 auto;" class="rounded raised" />
      <h1 style="text-align:center;margin:50px">
        You're early!
      </h1>
      <h2 style="text-align:center;line-height:40px;margin-top:30px">
        This website will not be launched for a few weeks. We do appreciate your visit, however. Email us below and we'll be sure to alert you when the site launches.
      </h2>
      <center>
        <a href="mailto:info@my1040academy.com">
          <img width="50px" height="50px" src="/icons8-secured-letter-100.png" style="margin:50px"/>
        </a>
      </center>
    </div>
  </div>
</div> -->

 
       
<%= yield %>

<script>
          $(document).ready(function() {
           setTimeout(function(){
             $('#notice_wrapper').fadeOut("slow", function(){
               $(this).remove();
             });
           }, 4500);
         });
         
         $(document).ready(function() {
           setTimeout(function(){
             $('#alert_wrapper').fadeOut("slow", function(){
               $(this).remove();
             });
           }, 5000);
         });
</script>

</body>
</html>
